@tailwind base;
@tailwind components;
@tailwind utilities;

.sec-head::after{
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: #f05134;
    margin: 15px auto 0px;
}

@layer utilities {
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes blob {
	0% {
		transform: translate(0px, 0px) scale(1);
	}
	33% {
		transform: translate(30px, -50px) scale(1.1);
	}
	66% {
		transform: translate(-20px, 20px) scale(0.9);
	}
	100% {
		transform: translate(0px, 0px) scale(1);
	}
}

.animate-blob {
	animation: blob 7s infinite;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}

@keyframes fade-in {
  from { opacity: 0.5; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

/* Add to your globals.css file */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.hover\:pause:hover {
  animation-play-state: paused;
}